*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  height: 100%;

}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
	vertical-align: baseline;
}

html {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
  line-height: 1.618;
  color: #444;
}

/**
 * Add the correct display in IE 9-.
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  /*font-size: 2em;
  margin: 0.67em 0;*/
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

.home {
  border-top: 0.1rem solid #444444;
}

.home > .container {
  padding: 0 2.5em;
  max-width: 1025px;
  display: block;
  margin: auto;	
}

.home__header {
  border-bottom: 0.1rem solid #444444;
}

.home__title-name {
  transform: translateX(-20%) translateY(48px);
  width: 150%;
}

.home__nav {
 margin: 1em 0;
}

.home__nav-item {
  display: inline-block;
  margin: 0 1em;
}

.home__nav-item:first-child {
  margin: 0 1em 0 0;
}

.home__nav-item > a {
  text-decoration: none;
  color: #FFF;
  background: #444;
  font-weight: 800;
  -webkit-transition: color 1s background-color 1s ease; 
  transition: color 1s background-color 1s ease;
}

.home__nav-item > a:hover {
  color: #444;
  background: #FFF;
}
/***
 * Accordion
**/
.accordion__content {
  display: none;
  visibility: hidden;
  opacity: 0;	
}

.accordion__content.active {
  display: block;
  visibility: visible;
  opacity: 1;	
  transition: display .5s, visibility .5s, opacity .5s;
}

.accordion__header {
  padding: 1em 0 .2em;
  margin: 0 1em;
  display: block;
  font-size: 24px;
  cursor: pointer;
  border-bottom: 1px solid #444444;
  user-select: none;
  position: relative;
}

.accordion__header-icon {
  position: absolute;
  top: 34px;
  right: 16px;
  transform: rotate(-90deg);
  transition: transform .5s;
}

.accordion__header.active > .accordion__header-icon {
  transform: rotate(90deg);
}

.accordion__content {
  padding: .5em;
  margin: 0 1.5em;
}

.accordion__link {
  color: #444;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 0 0 .4em;
}

a.accordion__link:hover {
  color: #B11623;
}

/***
 * Tutorial Pages
**/
.tutorials-content {
  border-bottom: 0.1rem solid #444444;
  margin: 0 0 6em;
  padding: 0 0 2em;
}

.tutorials-content__image img {
  width: 100%;
  padding: 1em 0;
  margin: 1em 0;
}

.tutorials-content b {
  font-weight: bold;
}

.tutorials-content__title {
  font-size: 30px;
  font-weight: 800;
  padding: 1em 0;
}

h2.tutorials-content__sub-title {
  font-size: 28px;
  font-weight: 400;
  padding: 1em 0;
}

h3.tutorials-content__sub-title {
  font-size: 24px;
  font-weight: 400;
  padding: 1em 0;
}

h4.tutorials-content__sub-title {
  font-size: 20px;
  font-weight: 400;
  padding: 1em 0;
}

.tutorials-content__text {
  font-size: 16px;
  padding: 1em;
}

.tutorials-content__list {
  font-size: 16px;
  padding: 1em 2em;
  list-style-type: square;
}

.tutorials-content__list-element {
    padding: 0 0 0.2em;	
}

.tutorials__code {
  display: inline-block;
  background: #f5f2f0;
  padding: 0 12px;
  color: #dd4a68;
  font-family: monospace;
  font-size: 14px;
}

/***
 * DOM Tree
**/
.dom-tree, 
.dom-tree li, 
.dom-tree ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dom-tree {
  display: block;
  margin: 1em;
}

.dom-tree li {
  position: relative;
}

.dom-tree li span {
  background-color: #3c3c3c;
  color: #fff;
  padding: 6px 8px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 4px;
  min-width: 2em;
  text-align: center;
  font-size: 16px;
}

.dom-tree ul {
  padding-left: 2em;
}

.dom-tree ul li:first-child::before {
  content: "";
  position: absolute;
  top: -1em;
  height: 2em;
  left: -.75em;
  width: 1em;
  border-style: none none solid solid;
  border-width: .1em;
  border-color: #3c3c3c;
}

.dom-tree li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -.6em;
  left: -.75em;
  width: 1em;
  border-style: none none solid solid;
  border-width: .1em;
  border-color: #3c3c3c;
}

/***
 * Mobile
**/
@media (min-width: 600px) {
  .home__title-name {
    transform: translateX(-124px) translateY(34px);
    width: auto;
  }
}












